*.d
*.o
*.a
*.dll
*.so*
*.log
*.cerr
*.gdbinit
*.qmake.stash
*.tar*
*pycache*
*ipynb_checkpoint*
MathEngine/libMathEngine.a
Tests/run
UI/debug/
UI/release/
UI/Makefile*
.includes/
.libs/
.package
.sandbox/*/sandbox
.vscode/

