# File Extensions
*.d
*.o
*.a
*.dll
*.so*
*.log
*.cerr
*.gdbinit
*.qmake.stash
*.tar*

# General Directory types to ignore
*pycache*
*ipynb_checkpoint*

# Specific Directories to ignore
docs/build
MathEngine/libMathEngine.a
Tests/run
UI/debug/
UI/release/
UI/Makefile*
.includes/
.libs/
.package
.sandbox/*/sandbox
.vscode/
