*.d
*.o
*.a
*.dll
*.so
*.log
*.cerr
*.gdbinit
*.qmake.stash
*.tar*
*pycache*
*ipynb_checkpoint*
MathEngine/libMathEngine.a
Tests/run
CalcUI/CalcUI
CalcUI/debug
CalcUI/release
.includes/
.libs/
.package
.sandbox/*/sandbox
.vscode/
